@model IEnumerable<bcbp_101.Models.bcbp.ParticipantModel>

<div>
    <table class="table table-striped table-bordered table-hover" id="participantDataTable">
        <thead>
            <tr>
                <th style="width:80px">
                    ID
                </th>
                <th style="width:300px">
                    Name
                </th>
                <th data-orderable="false" style="width:100px">
                    Group
                </th>
               
                <th data-orderable="false" style="width:300px">
                    Sponsor
                </th>
               
                <th data-orderable="false" style="width:100px">
                    Status
                </th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr data-id="@Html.DisplayFor(modelItem => item.id)">
                    <td>
                        @Html.DisplayFor(modelItem => item.memberId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GroupName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SponsorName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.status)
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>
</div>



